.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    color: var(--main-color);
    margin-top: 18px;
    transform: translateX(5px);
    cursor: pointer;
}